@import "./colors.css";

#app {
  display: inline-flex;
  position: absolute;

  overflow-x: auto;
  margin: 0% auto;
  bottom: 0%;
  left: 0%;

  background-color: var(--foreground);
  max-width: 100%;
  width: 100%;
}

.task {
  flex-direction: column;
  display: inline-flex;

  min-width: 120px;
  padding: 0.8%;
  margin: 1.2%;

  color: var(--secondText);
  text-align: center;
  border-radius: 8px;
}

.reduce__task {
  flex-direction: column;
  display: inline-flex;

  min-width: 60px;
  padding: 0.8%;
  margin: 0.2%;

  border-radius: 8px;
  text-align: center;
  font-size: 8px;
}

.board {
  display: block;

  height: 80vh;
  width: 98%;

  margin: 1% auto;

  border: 1px solid var(--border);
  background-color: var(--board);
  border-radius: 8px;
}

.process {
  border: 1px solid black;
  border-radius: 8px;
}
