@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fredoka-v6-latin-regular.woff") format("woff"),
    url("../assets/fredoka-v6-latin-regular.woff2") format("woff2");
}

@import "./colors.css";

:root {
  --font: Fredoka, sans-serif;
}
* {
  font-family: var(--font);
  color: var(--text);
}
