@import "./colors.css";

#data {
  position: relative;
}

#data form {
  flex-direction: column;
  display: inline-flex;
  position: absolute;

  padding: 1.2%;
  margin: 0% 1.2%;

  border-radius: 0px 0px 8px 8px;
  background: var(--board);
  color: var(--text);
}

#data h2 {
  text-align: center;
  margin: 2%;
}

#data div {
  justify-content: space-between;
  display: flex;

  margin: 1.2% 0%;
}

#data div:last-child {
  margin: 30px 0px 0px;
}

#data input {
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--background);
}

#data button {
  padding: 2.5%;
  width: 45%;

  border-radius: 5px;
  border: none;

  font-weight: 900;
  color: var(--text);
}

#data button:nth-child(1) {
  background-color: limegreen;
}

#data button:nth-child(2) {
  background-color: darkred;
}

#data button:nth-child(3) {
  background-color: darkkhaki;
}
