@import "./colors.css";

.navbar {
  place-items: center;
  display: flex;

  padding: 0.5% 0.8%;

  background-color: var(--board);
}

.navbar figure {
  place-items: center;
  display: flex;

  font-weight: 900;
  cursor: pointer;
  color: var(--secondText);
}

.navbar img {
  margin: 0% 15px;
  width: 35px;
}

.navbar div {
  margin-left: auto;
}

.navbar #algorithm {
  padding: 5px 15px;

  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text);
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  .navbar figcaption {
    display: none;
  }
}
