@import "./colors.css";

.stats {
  position: relative;
}

.stats .icon {
  position: absolute;
  right: 0;

  background-color: var(--label);
  border-radius: 8px;
  cursor: pointer;
  padding: 0.4%;
}

.stats #dashboard {
  flex-direction: column;
  position: absolute;
  display: none;
  right: 0;

  max-height: 80vh;
  min-width: 185px;
  width: auto;

  background-color: var(--foreground);
  border-radius: 0px 0px 8px 8px;
  padding: 0.2%;

  overflow: auto;
}

.stats #dashboard form {
  display: none;

  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.stats td,
.stats th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}
